# Core dependencies
numpy>=1.22
pandas>=2.2.2
datasets>=2.14.5
torch>=2.0.1
Transformers>=4.34.1
nltk>=3.8.1

# Data extraction dependencies
pdf2image>=1.16.3  
pytesseract>=0.3.10

# Optional or additional dependencies
matplotlib>=3.7.1
scikit-learn~=0.24  # Compatible release (similar to >=0.24, <0.25)

